DATABASE_URL="postgresql://fleetbase:fleetbase@localhost:5432/fleetbase?schema=public"
JWT_SECRET="replace-with-a-long-random-secret-at-least-32-characters"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_ALLOWED_ORIGINS="localhost:3000,127.0.0.1:3000"
NEXT_IMAGE_REMOTE_HOSTS=""
UPLOAD_STORAGE_DRIVER="local"
